*{
background-image: url('../img/frutero.png');
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
}
h1{
    color: darkred;
}
td{
    color: yellowgreen;
}
img{
    height: 200px;
    width: 250px;
    margin: 5px;
    border-style: double;
    border-color: chartreuse;
    border-radius: 8px;
    border-width: 5px;
}
img:hover{
    border-color: deepskyblue;
}
input{
    background-color: darkcyan;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
select{
    background-color: darkcyan;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
